/* ==UserStyle==
@name         Chatter Odoo
@description  Make chatter in unified style on odoo.com.
@namespace    https://github.com/Maurin3
@version      1.0.3
@author       Maurin3
@homepageURL  https://github.com/Maurin3/Userstyles
@supportURL   https://github.com/Maurin3/Userstyles/issues
@updateURL    https://raw.githubusercontent.com/Maurin3/Userstyles/master/chatter-odoo.user.css
==/UserStyle== */

@-moz-document domain("*.odoo.com"),
domain("odoo.com") {
    .o_MessageView_prettyBody *:not(a):not(.fa){
        color: inherit !important;
        font-family: inherit !important;
        background-color: inherit !important;
        font-size: inherit !important;
    }

    .o-mail-Message-body  *:not(a):not(.fa){
        color: inherit !important;
        font-family: inherit !important;
        background-color: inherit !important;
        font-size: inherit !important;
    }
}
