/* ==UserStyle==
@name         Dark Gmail
@description  Dark theme for Gmail.
@namespace    https://github.com/Maurin3
@version      1.0.0
@author       Maurin3
@homepageURL  https://github.com/Maurin3/Userstyles
@supportURL   https://github.com/Maurin3/Userstyles/issues
@updateURL    https://raw.githubusercontent.com/Maurin3/Userstyles/master/dark-gmail.user.css
==/UserStyle== */

@-moz-document url-prefix("https://mail.google.com") {
    /* Make the loading screen dark */
    #loading {
        background: #222222;
    }
    .msgb, .YI, .YV {
        color: #FFFFFF;
    }
    #bhlf > input.submit_as_link {
        color: #00adee !important;
    }
    .z0 > .L3 {
        box-shadow: none;
        background-color: #333333;
        color: #ccc;
    }
    .z0 > .L3:hover {
        background-color: #444444;
    }

    /* Main Menu */
    .gb_ta.gb_ae .gb_3d, .gb_3d.gb_le.gb_ce{
        background-color: #222222;
        color: #FFFFFF;
    }

    .gb_ta.gb_ae .gb_3d svg, .gb_3d.gb_le.gb_ce svg{
        fill: #FFFFFF
    }

    .gb_yc.gb_ze > .gb_va{
        content: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x.png");
    }

    .gb_fe.gb_6e .gb_Xe .gb_af{
        background-color: #333333;
    }

    .gb_uf:not(.gb_Mf)::placeholder{
        color: #FFFFFF !important;
    }

    .gb_uf:not(.gb_Mf){
        color: #FFFFFF !important;
    }

    .gb_ta:not(.gb_ua) .gb_ja{
        background-color: #333333;
        border-color: #333333;
    }

    .gb_F, .gb_Eb.gb_Eb, .gb_Rb, .gb_Lb,.gb_l .gb_rb{
        background-color: #333333;
        border-color: #333333;
        color: #FFFFFF;
    }

    .gb_Ab.gb_Ab, .gb_Mb.gb_Mb, .gb_Cb:hover, .gb_Eb:hover, .gb_sb:hover{
        background-color: #444444;
        border-color: #444444;
        color: #FFFFFF;
    }

    .gb_db.gb_eb{
        background-color: #063a93;
        color: #FFFFFF;
    }

    .gb_l .gb_ub{
        color: #FFFFFF;
    }

    .gb_l .gb_wb{
        color: #999999;
    }

    /* Sidebar */
    .aeN{
        background-color: #333333;
    }

    .aio{
        color: #FFFFFF !important;
    }

    .z0 > .L3{
        background-color: #444444;
        color: #FFFFFF;
    }

    .TO .nU > .n0, .TO.NQ .nU > .n0, .TO.nZ .nU > .n0, .ah9 > .CJ, .n3 > .CL > .CK{
        color: #FFFFFF;
    }

    .TK .TO:active, .n6 .ah9.aiu:active, .CL:active, .TO.nZ, .TO.ol{
        background-color: #222222;
    }

    .TO.NQ, .n6 .ah9:hover, .n6 .ah9.aiu:hover, .n6 .ah9:focus, .CL.NQ, .CL:hover, .CL:focus{
        background-color: #444444;
    }

    .wT > .n3 .byl:first-child .aim:first-child .nZ{
        background-color: #550800;
    }

    .byl .nZ.aS5{
        background-color: #001e08;
    }

    .byl .nZ.aS3 {
        background-color: #1b0033;
    }

    .byl .nZ.aS4 {
        background-color: #371900;
    }

    .byl .nZ.aS6 {
        background-color: #000d24;
    }

    .aHS-bnr .qj::before{
        color: #FFFFFF;
    }

    .NQ, .aij{
        background-color: #333333;
    }

    /* Submenu */
    #\:4{
        background-color: #333333;
    }

    .amH > .Dj, .h0 > .adl{
        color: #FFFFFF;
    }

    .dt, .v .f1, .v .f1 .f0{
        color: #FFFFFF;
    }

    /* Images/Icons */
    .gb_Be > img.gb_ua{
        content: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x.png");
    }

    .aHS-bnt .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_white_20dp.png');
    }

    .nZ > .aHS-bnt .qj, .aHS-bnt .qj::before{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png') !important;
    }

    .aHS-bnq .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/insert_drive_file_white_20dp.png');
    }

    .aHS-bnu .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/send_white_20dp.png');
    }

    .aHS-bnx .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/delete_white_20dp.png');
    }

    .aHS-YH .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/videocam_white_20dp.png');
    }

    .aHS-YW .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/keyboard_white_20dp.png');
    }

    .pM{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/more_vert_white_20dp.png');
    }

    .air .G-asx{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/expand_less_white_20dp.png');
    }

    .n4 .G-asx{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/expand_more_white_20dp.png');
    }

    .aHS-bnw .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/grade_white_20dp.png');
    }

    .aHS-bu1 .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/watch_later_white_20dp.png');
    }

    .aHS-bns .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_important_white_20dp.png');
    }

    .aHS-aHP .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/hangout_white_20dp.png');
    }

    .TO > .aHS-nd .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/schedule_send_white_20dp.png');
    }

    .aHS-aHO .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/mail_white_20dp.png');
    }

    .aHS-bnv .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/report_white_20dp.png');
    }

    .aS6 .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/people_white_20dp.png');
    }

    .aS4 .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/info_white_20dp.png');
    }

    .aS3 .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/forum_white_20dp.png');
    }

    .aS5 .qj{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/local_offer_white_20dp.png')
    }

    .CL::before{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/settings_white_20dp.png');
    }

    .Wj::before{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/add_white_20dp.png');
    }

    .J-KU .a8V, .J-KU-KO .a8V, .J-KU-JW .a8V{
        background: no-repeat url('https://ssl.gstatic.com/mail/sprites/hangouts_white-655447bff8cb507d2679830e7022183a.png') 0 -390px; 
    }

    .J-KU .aH3, .J-KU-KO .aH3{
        background: url('https://ssl.gstatic.com/ui/v1/icons/mail/wbt/contacts_white_icon21.png') no-repeat;
    }

    .J-KU.a65 .aj2, .J-KU-KO.a65 .aj2, .J-KU-JW.a65 .aj2{
        background: no-repeat url('https://ssl.gstatic.com/mail/sprites/hangouts_white-655447bff8cb507d2679830e7022183a.png') 0 -150px;
    }

    .ar6{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/arrow_back_white_20dp.png');
    }

    .ar8{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/archive_white_20dp.png');
    }

    .asl{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/report_white_20dp.png');
    }

    .ar9{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/delete_white_20dp.png');
    }

    .bAP{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/mark_as_unread_white_20dp.png');
    }
    .brW{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/watch_later_white_20dp.png');
    }

    .Vj{
        background-image: url('https://ssl.gstatic.com/ui/v1/icons/mail/rfr/task_add_filled_20_white_1x.png');
    }

    .ase{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/drive_file_move_white_20dp.png');
    }

    .asb{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_white_20dp.png');
    }

    .bjy::after{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/more_vert_white_20dp.png');
    }

    .adj, .amI{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/chevron_left_white_20dp.png');
    }

    .adk, .amJ{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/chevron_right_white_20dp.png');
    }

    .asf{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/refresh_white_20dp.png');
    }

    .G-tF .T-Jo{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_white_20dp.png');
    }

    .G-asx{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_white_20dp.png');
    }

    .G-tF .T-Jo-Jp{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_white_20dp.png');
    }

    .aih{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_white_20dp.png');
    }

    .aii{
        background-image: url('https://www.gstatic.com/images/icons/material/system/1x/arrow_right_white_20dp.png')
    }
}

@-moz-document url-prefix("https://hangouts.google.com/webchat/u/0/frame2"){
    /* Hangouts Part */
    #\:a\.mn{
        color: #FFFFFF;
    }

    .td.iM3vKf .Bb .ng, .td.iM3vKf .Bb .lt{
        color: #FFFFFF;
    }

    .td.Hm .Bb:hover, .td.Hm .Bb:focus{
        background-color: #444444;
    }

    /* Images */
    .lr .au, .Jvj9ed .Px, .uOlSBc .Px{
        background: no-repeat url('https://ssl.gstatic.com/chat/babble/sprites/common-517bca7f07a37c64c3263a1411e266a5.png') -449px -149px;
    }
}