/* ==UserStyle==
@name         Dark Stylus
@description  Dark theme for Stylus extension.
@namespace    https://github.com/Maurin3
@version      1.0.3
@author       Maurin3
@homepageURL  https://github.com/Maurin3/Userstyles
@supportURL   https://github.com/Maurin3/Userstyles/issues
@updateURL    https://raw.githubusercontent.com/Maurin3/Userstyles/master/dark-stylus.user.css
@preprocessor stylus
==/UserStyle== */

@-moz-document  regexp("chrome-extension://.*"), regexp("moz-extension://.*") {
    /* The code inside the editor is original because it can be changed inside Stylus */
    #stylus-edit, #stylus-manage, #header, .section, #help-popup, #options, .menu-items-wrapper{
        background-color: #222222;
        color: #dfdfdf;
    }
    
    #search-replace-dialog textarea, #search-replace-dialog [data-action="clear"]{
        background-color: #222222 !important;
        color: #dfdfdf !important;
    }

    #stylus-manage, a{
        color: #dfdfdf;
    }

    .newUI .entry.enabled .style-name:hover .style-name-link{
        color: hsla(180, 100%, 35%, 1);
    }

    .newUI .entry .style-name:hover::before{
        background: linear-gradient(to right, hsla(180, 50%, 30%, 0.2), hsla(180, 20%, 10%, 0.05) 50%, transparent);
    }

    .entry.usercss .style-name-link::after{
        background-color:hsla(180, 100%, 35%, 1);
        color: #252525;
    }

    .svg-icon, .svg-icon.info:hover, .svg-icon.settings:hover {
        fill: #dfdfdf !important;
    }

    input, select, option, input:not([type]), button, #search, #manage\.newUI\.sort, #backup-buttons .dropdown-content a {
        color: #dfdfdf;
        background-color: #222222;
        border: 1px solid hsl(0, 0%, 62%);
    }

    input[type="checkbox"]:not(.slider):hover, #backup-buttons .dropdown-content a:hover{
        background-color: #555555;
    }
    
    .slider{
        border: 0px solid #9e9e9e;
        background-color: transparent !important;
    }
    
    .onoffswitch{
        background-color: #00352d !important;
        border-radius: 15px;
    }

    #backup-buttons .dropdown-content a:hover{
        color: #dfdfdf;
    }
    
    #options-title,#message-box-title{
        background-color: #00352d !important;
        color: #dfdfdf;
    }
    
    .onoffswitch input:checked + span{
        background-color: #00352d !important;
    }

    button:not(:disabled):hover,#backup-buttons .dropdown:hover .dropbtn{
        background-color: #555555;
    }

    #message-box-contents, #message-box-buttons{
        background-color: #222222;
    }

    #stylus-popup{
        background-color: #222222;
        color: #dfdfdf;
    }

    .usercss #name{
        background-color: #333333;
        color: #dfdfdf !important;
    }

    .newUI .updater-icons > :not(.check-update):after{
        border: 1px solid #7f700c;
        background-color: #443d05;
    }
    
    .newUI .can-update:not([data-details$="locally edited"]) .update:after{
        background-color: #003135;
        border: 1px solid #02ccc8;
    }
    
    ::-webkit-scrollbar {
        background-color: #333333;
    }
    ::-webkit-scrollbar-button {
        background-color: #333333;
        color: #dfdfdf !important;
    }
    ::-webkit-scrollbar-track {
        background-color: #333333;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: #333333;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #292929;
        border-radius: 25px;
    }
    ::-webkit-scrollbar-corner {
        background-color: #333333;
    }
    ::-webkit-resizer {
        background-color: #333333; 
    }
}