/* ==UserStyle==
@name         Dark Odoo Docs
@description  Dark theme for Odoo Docs.
@namespace    https://github.com/Maurin3
@version      2.0.2
@author       Maurin3
@homepageURL  https://github.com/Maurin3/Userstyles
@supportURL   https://github.com/Maurin3/Userstyles/issues
@updateURL    https://raw.githubusercontent.com/Maurin3/Userstyles/master/dark-odoo-docs.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.odoo.com/documentation/") {
    /* Header */
    header.o_main_header {
        background-color: #222222;
    }

    header.o_main_header .o_search_wrapper .o_search input {
        background-color: #222222;
        border: 1px solid #808080;
        color: #DFDFDF;
    }

    header.o_main_header .o_search_wrapper .o_search input::placeholder {
        color: #DFDFDF;
    }

    header.o_main_header .o_search_wrapper .o_search .btn,
    .btn {
        color: #DFDFDF;
    }

    .btn:hover {
        color: #b4c9dd;
    }

    .border-bottom {
        border-bottom: 1px solid #555 !important;
    }

    /* Navbar */
    .o_side_nav {
        background-color: #222222;
    }

    .o_side_nav ul .o_deepest_active_toc_entry {
        background-color: #232323;
        border-left: 3px solid #232323;
    }

    .o_side_nav ul li a,
    .o_page_toc_nav ul li a {
        color: #DFDFDF;
    }

    /* Main */
    body,
    #wrap {
        background-color: #222222;
        color: #DFDFDF;
    }

    #wrap main .toctree-wrapper a[href="#"] {
        color: #DFDFDF;
    }

    #wrap main article.doc-body section > h2,
    #wrap main article.doc-body section > .h2 {
        color: #DFDFDF;
    }

    aside.o_page_toc h3,
    aside.o_page_toc .h3 {
        color: #DFDFDF;
    }

    .table {
        color: #C6C6C6;
        --bs-table-bg: transparent;
        --bs-table-striped-color: #808080;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #808080;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #FFFFFF;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    }

    #wrap main div[class^="highlight"],
    #wrap main div[class^="highlight"] div[class^="highlight"] {
        border-color: transparent;
    }

    .highlight {
        background-color: transparent;
    }

    #wrap main article.doc-body span.highlighted {
        background-color: #977100;
    }

    #wrap main.o_has_code_column article.doc-body .content-switcher .tab-content {
        border-radius: 0 0 7px 7px;
    }
    
    #wrap main.o_has_code_column article.doc-body .content-switcher .nav-tabs .nav-link.active{
        border-radius: 7px 7px 0 0;
    }

    /* Footer */
    footer .o_get_help {
        background-color: #232323;
    }

    /* Alerts */
    #wrap main .alert.alert-note,
    #wrap main .alert.alert-info,
    #wrap main .alert[class^="admonition"] {
        border-color: #6399a4;
        background-color: #00232f;
        color: #87d4e4;
    }

    #wrap main .alert.alert-note > .alert-title,
    #wrap main .alert.alert-note > h3,
    #wrap main .alert.alert-note > .h3,
    #wrap main .alert.alert-info > .alert-title,
    #wrap main .alert.alert-info > h3,
    #wrap main .alert.alert-info > .h3,
    #wrap main .alert[class^="admonition"] > .alert-title,
    #wrap main .alert[class^="admonition"] > h3,
    #wrap main .alert[class^="admonition"] > .h3 {
        color: #87d4e4;
    }

    #wrap main .alert.alert-tip,
    #wrap main .alert.tip {
        border-color: #649796;
        background-color: #002f2e;
        color: #7ac0be;
    }

    #wrap main .alert.alert-tip > .alert-title,
    #wrap main .alert.alert-tip > h3,
    #wrap main .alert.alert-tip > .h3,
    #wrap main .alert.tip > .alert-title,
    #wrap main .alert.tip > h3,
    #wrap main .alert.tip > .h3 {
        color: #7ac0be;
    }

    #wrap main .alert-warning {
        color: #c0b187;
        background-color: #2d2200;
        border-color: #f9dcb3;
    }

    #wrap main .alert.alert-warning > .alert-title,
    #wrap main .alert.alert-warning > h3,
    #wrap main .alert.alert-warning > .h3,
    #wrap main .alert.warning > .alert-title,
    #wrap main .alert.warning > h3,
    #wrap main .alert.warning > .h3 {
        color: #c0b187;
    }

    #wrap main .alert-danger {
        color: #f2a8af;
        background-color: #2d0004;
        border-color: #e18a92;
    }

    #wrap main .alert.alert-danger > .alert-title,
    #wrap main .alert.alert-danger > h3,
    #wrap main .alert.alert-danger > .h3 {
        color: #f2a8af;
    }

    #wrap main .alert.alert-go_to {
        border-color: #756470;
        background-color: #2b001f;
    }

    #wrap main .alert.alert-go_to > .alert-title,
    #wrap main .alert.alert-go_to > h3,
    #wrap main .alert.alert-go_to > .h3,
    #wrap main .alert.alert-go_to a {
        color: #eac0de;
    }

    #wrap main .alert.alert-exercise {
        border-color: #ccc;
        background-color: #383838;
        color: #ddd;
    }

    #wrap main .alert.alert-exercise > .alert-title,
    #wrap main .alert.alert-exercise > h3,
    #wrap main .alert.alert-exercise > .h3 {
        color: #ddd;
    }

    /* Code */
    #wrap code,
    #wrap main div[class^="highlight"] pre {
        border-radius: 7px;
        border-color: transparent;
        background-color: #343434;
    }
    #wrap main .alert code {
        background-color: #343434 !important;
    }

    .highlight .kd,
    .highlight .na,
    .highlight .bp,
    .highlight .kc {
        color: #6767ff;
    }

    .highlight .s1,
    .highlight .s,
    .highlight .s2,
    .highlight .si,
    .highlight .sd {
        color: #d571d5;
    }

    .highlight .nt {
        color: #358835;
    }

    .highlight .nc,
    .highlight .nb,
    .highlight .nn {
        color: #3b3bff;
    }
    .highlight .k,
    .highlight .kn,
    .highlight .go,
    .highlight .gp {
        color: #a7a7ff;
    }
}
