/* ==UserStyle==
@name           Dark Odoo SH
@description    Make odoo SH dark
@namespace      https://github.com/Maurin3
@version        2.1.0
@author         Maurin3
@homepageURL    https://github.com/Maurin3/Userstyles
@supportURL     https://github.com/Maurin3/Userstyles/issues
@updateURL      https://raw.githubusercontent.com/Maurin3/Userstyles/master/dark-odoo-sh.user.css
@preprocessor   stylus
@var select theme "Theme" ["Dark", "Catppuccin"]
==/UserStyle== */

if (theme == "Dark"){
    $bg-color-darker = #222222
    $bg-color = #333333
    $bg-color-lighter = #272727
    $color = #ccc
    $bg-red = #590000
    $bg-yellow = #584201
    $bg-green = #154800
    $bg-grey = #9399b2
    $bg-text-grey = #272727
}
if(theme == "Catppuccin"){
    $bg-color-darker = #181825
    $bg-color = #1e1e2e
    $bg-color-lighter = #313244
    $color = #cdd6f4
    $bg-red = rgba(152, 8, 29, .25)
    $bg-yellow = #775409
    $bg-green = rgba(9, 114, 0, .25)
    $bg-grey = #9399b2
    $bg-text-grey = #313244
}
@-moz-document url-prefix("https://www.odoo.sh") {
    /* ==== General ==== */
    main{
        background-color: $bg-color-darker;
    }
    
    /* ---- Main navbar ---- */
    .js_usermenu{
        background-color: $bg-color;
    }
    .js_usermenu *:hover{
        background-color: $bg-color-darker !important;
    }
    #o_project, #o_logout{
        color: $color !important;
    }
    
    
    /* ==== Project list ==== */
    /* ---- Title ---- */
    .o_sh_projects_list .h3{
        color: $color;
    }
    .o_sh_projects_cards .h3{
        color: $color;
    }

    /* ---- List ---- */
    .o_sh_display_list th.bg-200,
    .o_sh_display_list th.bg-200 .btn-light{
        background-color: $bg-color !important;
        border-color: $bg-color !important;
        color: $color !important;
    }
    .o_sh_display_list th.bg-200:hover,
    .o_sh_display_list th.bg-200 .btn-light:hover{
        background-color: $bg-color-lighter !important;
        border-color: $bg-color-lighter !important;
        color: $color !important;
    }

    .o_sh_display_list table{
        background-color: $bg-color !important;
    }
    .o_sh_display_list table,
    .o_sh_display_list .text-700,
    .o_sh_display_list .text-800{
        color: $color !important;
    }

    /* ---- Cards ---- */
    .o_project_create_new .o_project_card{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_project_create_new .o_project_card:hover,
    .o_project_create_new .o_project_card.bg-white-25:hover{
        background-color: $bg-color-lighter !important;
        color: $color !important;
    }

    .o_sh_display_kanban:not(.o_project_create_new){
        background-color: $bg-color;
        color: $color;
    }
    .o_sh_display_kanban:not(.o_project_create_new) .text-700,
    .o_sh_display_kanban:not(.o_project_create_new) .text-800,
    .o_sh_display_kanban:not(.o_project_create_new) .x-odoo-sh-project-name{
        color: $color !important;
    }
    
    /* ==== Project form page ==== */
    /* ---- Main navbar/notifications ---- */
    .o_sh_notify{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_sh_notify_filter,
    .o_sh_notify_filter .btn{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_sh_notify_item{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_sh_notify_item .text-muted{
        color: $color !important;
    }
    .o_sh_notify_item .btn-secondary{
        color: $color !important;
        background-color: $bg-color-darker !important;
    }
    .o_sh_notify_item .btn-close{
        color: $color !important;
        background-color: $bg-color-darker !important;
    }
    /* ---- Branches ---- */
    /* **** History **** */
    .o_branch_main_content .navbar{
        background-color: $bg-color-darker !important;
    }
    .o_branch_main_content .navbar .btn-light{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_branch_main_content .navbar .btn-light:hover{
        background-color: $bg-color-lighter !important;
        color: $color !important;
    }

    .o_branch_history,
    .o_branch_history .o_sh_tracking_icon .gi{
        background-color: $bg-color !important;
    }
    .o_branch_history .o_sh_tracking_history:before,
    .o_branch_history .o_sh_tracking_icon .gi{
        color: $color !important;
    }
    
    .o_tracking_date{
        color: $color !important;
    }
    .o_tracking,
    .o_tracking_commits .o_tracking_commit{
        background-color: $bg-color-darker !important;
        color: $color !important;
    }
    .o_tracking_info .text-muted,
    .o_tracking_stage_change_box .text-muted{
        color: $color !important;
    }
    .o_tracking_commits .o_tracking_commit .gi,
    .o_tracking_commits .o_tracking_commit .o_tracking_commit_url{
        color: $color !important;
    }
    .o_tracking_commits_more_link small,
    .o_tracking_commits_more_link .gi{
        color: $color !important;
    }
    .o_history_status .text-muted{
        color: $color !important;
    }
    .o_tracking_commits .o_tracking_commit:hover{
        background-color: $bg-color-lighter !important;
        color: $color !important;
    }
    
    /* **** Upgrade **** */
    .o_branch_settings{
        background-color: $bg-color !important;
    }
    .o_branch_settings .active .timeline-title{
        color: $color !important;
    }
    
    /* ---- Builds ---- */
    .o_builds_view,
    .o_branches_searchbar,
    .o_branches_searchbar .o_branches_searchbar_icon,
    .o_branches_searchbar input{
        background-color: $bg-color !important;
    }
    .o_branches_searchbar,
    .o_branches_searchbar .o_branches_searchbar_icon .gi,
    .o_branches_searchbar input::placeholder{
        color: $color !important;
    }
    
    .o_builds_view .bg-200{
        background-color: $bg-color-darker !important;
        color: $color !important;
    }
    
    .o_sh_build_panel_left{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_sh_build_panel_left .btn-light{
        background-color: $bg-color-darker !important;
        color: $color !important;
    }
    
    .o_builds_card,
    .o_builds_card .text-muted{
        color: $color !important;
    }
    
    .o_builds_card.o_failed,
    .o_builds_card.o_failed .card-body,
    .o_builds_card.o_failed .o_build_footer{
        background-color: $bg-red !important;
    }

    .o_builds_card.o_warning,
    .o_builds_card.o_warning .card-body,
    .o_builds_card.o_warning .o_build_footer{
        background-color: $bg-yellow !important;
    }
    
    .o_builds_card.o_success,
    .o_builds_card.o_success .card-body,
    .o_builds_card.o_success .o_build_footer{
        background-color: $bg-green !important;
    }
    
    .o_builds_view .o_builds_card .o_builds_info pre{
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .o_build_card_content .o_build_info_toggle .fa{
        color: $color !important;
    }
    .o_build_footer .btn-light,
    .o_build_footer .btn-light .fa{
        background-color: $bg-color !important;
        border-color: $bg-color !important;
        color: $color !important;
    }
    .o_sh_git_badge .bg-300{
        background-color: $bg-grey !important;
        color: $bg-text-grey !important;
    }
    
    /* ---- Settings ---- */
    .o_settings_wrapper{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_settings_wrapper .text-muted{
        color: $color !important;
    }
    .o_settings_section_body form .input-group-text{
        background-color: $bg-color-darker !important;
        color: $color !important;
    }
    .o_settings_section_body form #project_name,
    .o_settings_section_body .help-block{
        color: $color !important;
    }
    
    .o_settings_section_body .o_sh_github_user,{
        background-color: $bg-color !important;
        color: $color !important;
    }
    .o_settings_section_body .o_sh_github_user .o_github_access{
        color: $color !important;
    }
    .o_settings_section_body .o_sh_github_user .o_github_access option{
        color: $color !important;
        background-color: $bg-color !important;
    }
    
    .o_settings_section_body .slider-tick-label{
        color: $color !important;
    }
    
    .o_settings_section_body form input{
        color: $color !important;
    }
    
    .o_settings_section_body .odoo-password-field-reveal input{
        color: $color !important;
    }
}
    
@-moz-document regexp("^https:\/\/eup[a-z][0-9]*\.odoo\.com\/paas.*"){
   
}
