/* ==UserStyle==
@name         Odoo for Colorblind people
@description  Change some colors in Odoo for people who suffers from colour blindness.
@namespace    https://github.com/Maurin3
@version      1.0.5
@author       Maurin3
@homepageURL  https://github.com/Maurin3/Userstyles
@supportURL   https://github.com/Maurin3/Userstyles/issues
@updateURL    https://raw.githubusercontent.com/Maurin3/Userstyles/master/odoo-colorblind.user.css
==/UserStyle== */

@-moz-document 
url-prefix("https://www.odoo.com/web"), 
regexp("^https:\\/\\/[0-9]{5,}(\\-saas)?\\-[a-z0-9]{2}\\-[0-9]{1}\\-all\\.runbot[0-9]{2,}\\.odoo\\.com\\/web(.*)$"),
regexp("^http:\\/\\/localhost(:)?[0-9]{0,5}(\\/)?[a-z]{0,4}\\/web(.*)$"),
regexp("https:\\/\\/([-a-z0-9]+)(\\.dev)?\\.odoo\\.com\\/web*"){
/* Code */
/* Bullets in kanban */
.o_status.o_status_green, .o_status_green.o_status_bubble,
.o_status_bubble.o_color_bubble_20{
    background-color: #0088FF !important;
}

.o_status.o_status_red, .o_status_red.o_status_bubble {
    background-color: #C38000 !important;
}

.o_status_bubble.o_color_bubble_10{
    background-color: #30a1c3 !important;
}

/* Blocked/Ready in kanban columns */
.bg-success-full, .bg-success, .o_status.o_status_green, .o_status_green.o_status_bubble, .o_status_green.o_calendar_invitation{
    background-color: #0088FF !important;
}

.bg-danger-full, .bg-danger, .o_status.o_status_red, .o_status_red.o_status_bubble, .o_status_red.o_calendar_invitation{
    background-color: #C38000 !important;
}

.bg-warning-full{
    background-color: #756e5c !important;
}
.btn-outline-success{
    color: #0088FF !important;
    border-color: #0088FF !important;
}
.btn-outline-success:hover{
    color: #000 !important;
    background-color: #0088FF !important;
}
    
.btn-outline-danger{
    color: #C38000 !important;
    border-color: #C38000 !important;
}
.btn-outline-danger:hover{
    color: #000 !important;
    background-color: #C38000 !important;
}
    
.btn-outline-warning:hover{
    background-color: #756e5c !important;
    color: #000 !important;
}
    
.btn-outline-warning{
    color: #756e5c !important;
    border-color: #756e5c !important;
}
    
.o_field_project_task_state_selection .o_status_changes_requested{
    color: #756e5c !important
}

/* Activities in kanban */
.o_mail_activity .o_activity_color_planned{
    color: #0088FF !important;
}

.o_mail_activity .o_activity_color_overdue{
    color: #C38000 !important;
}

.o_mail_activity .o_activity_color_today{    /*color: #eef76e !important;*/
    color: #756e5c !important;
}
    
/* Activities in chatter */
.o_Activity_dueDateText.o-planned{
    color: #0088FF !important;
}
    
.o_Activity_dueDateText.o-overdue{
    color: #C38000 !important;
}

.o_Activity_dueDateText.o-today{
    color: #756e5c !important;
}

.text-success{
    color: #0088FF !important;
}

.text-danger{
    color: #C38000 !important;
}

.text-warning{
    color: #756e5c !important;
}

.text-bg-warning{
    background-color: RGBA(117, 110, 92, var(--bg-opacity, 1)) !important;
}

.text-bg-success{
    background-color: RGBA(16, 125, 255, var(--bg-opacity, 1)) !important;
}

.text-bg-danger{
    background-color: RGBA(195, 128, 0, var(--bg-opacity, 1)) !important;
}

}
